#canvas {
  width: 500px;
  height: 350px;
}
#top {
  margin-bottom: 5px;
}
p, button, h1, label {
  font-family: Monospace, Sans-Serif;
}
p, button {
  display: inline-block;
}
input, button {
  cursor: pointer;
}
button {
  margin-left: 5px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  background: #4676d7;
  min-width: 100px;
  font-size: 16px;
  padding: 3px;
  font-size: 16px;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #4676d740;
}
button:hover {
  background: #1d49aa;
}
#zoom {
  width: 500px;
  margin: 0px;
  margin-left: 5px;
}
#buttons {
  margin-top: 10px;
}
#backward, #forward {
  min-width: 50px;
}
#pu {
  margin-right: 10px;
}
#pul {
  margin-left: 5px;
}